@model IEnumerable<Repository.Models.StationMaintenance>

@{
    ViewBag.Title = "Stationmaintenance";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Stationer under vedligeholdelse</h2>

<table>
    <tr>
        <th>
            Station
        </th>
        <th>
            Detaljer
        </th>
        <th>
            Forventet i drift
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StationId)
            </td>
            <td>
                @Html.ActionLink("Detaljer", "Details", new { id=item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedOperationalDate)
            </td>
        </tr>
    }

</table>
