@model List<Repository.Models.Station>

@{
    ViewBag.Title = "Stations";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Alle betterplace stationer i landet</h2>

<style>
    #map-canvas img { max-width: none; }
</style>

<div id="map-canvas" style="height: 500px;" />

@section libaries
{
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?&sensor=false">
    </script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markermanager/src/markermanager.js"></script>
}

@section scripts
{
    <script language="javascript" type="text/javascript">
        var map;
        var mgr;
    
        function initialize() {
        
            var myOptions = {
                zoom: 7,
                center: new google.maps.LatLng(56.303100, 10.533142),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
        
            map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
            mgr = new MarkerManager(map);
        
            var infoWindow = new google.maps.InfoWindow({ content: "Cargando..." });
        
            google.maps.event.addListener(mgr, 'loaded', function () {
            
            @foreach (var item in Model)
            {
                <text>          
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(@item.StationLat.ToString().Replace(",", "."), @item.StationLong.ToString().Replace(",", ".")),
                    title: '@Html.DisplayTextFor(modelItem => item.Title)'
                });
                
                google.maps.event.addListener(marker, "click", function () {
                    infoWindow.setContent(this.html);
                    infoWindow.open(map, this);
                });
                
                mgr.addMarker(marker, 0);
                </text>
            }     
            mgr.refresh();
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        //$(document).ready(function () {
        //    initialize();
        //});
       
    </script>
}
