@model List<Repository.Models.Station>

@{
    ViewBag.Title = "Stations";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Alle betterplace stationer i landet</h2>

@foreach (var station in Model)
{
    <p>@station.ID - @station.Title</p>
}

<div id="map-canvas" style="height: 500px;" />

@section libaries
{
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?&sensor=false">
    </script>
}

@section scripts
{
    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(57.0333, 9.9167),
                zoom: 11,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);
            
            var marker = new google.maps.Marker({
                position: map.getCenter(),
                map: map,
                title: 'Click to zoom'
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}
